html
{
	background: #7F7F7F url("../images/bg100x100.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 817.75px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 101px;
}

#u102-4
{
	z-index: 22;
	top: 0px;
	left: 50%;
	margin-left: 438px;
}

#u100
{
	z-index: 26;
	width: 25px;
	height: 19px;
	top: 0px;
	left: 50%;
	margin-left: 400px;
}

#u98
{
	z-index: 21;
	width: 25px;
	height: 19px;
	top: 0px;
	left: 50%;
	margin-left: 474px;
}

#u89
{
	z-index: 8;
	width: 100px;
	height: 2px;
	top: 0px;
	left: 50%;
	margin-left: 150px;
}

#u90-3
{
	z-index: 2;
	top: 0px;
	left: 50%;
	margin-left: -575px;
}

#u74
{
	z-index: 5;
	width: 160px;
	height: 110px;
	background-image: url("../images/logo.png");
	top: 0px;
	left: 50%;
	margin-left: -510px;
}

#u87
{
	z-index: 6;
	width: 100px;
	height: 2px;
	top: 0px;
	left: 50%;
	margin-left: -250px;
}

#u88
{
	z-index: 7;
	width: 100px;
	height: 2px;
	top: 0px;
	left: 50%;
	margin-left: -50px;
}

#u91-4
{
	z-index: 9;
	top: 8px;
	left: 50%;
	margin-left: -221px;
}

#u95-4
{
	z-index: 17;
	top: 8px;
	left: 50%;
	margin-left: 180px;
}

#u94-4
{
	z-index: 13;
	top: 8px;
	left: 50%;
	margin-left: -20px;
}

#u111
{
	z-index: 28;
	width: 515px;
	height: 113px;
	background-image: url("../images/punchline.png");
	left: -75px;
}

#u118
{
	z-index: 29;
	width: 450px;
	background-image: url("../images/trianglebigverticaltparting.png");
	padding-bottom: 188px;
	margin-left: 271px;
	margin-top: 61px;
}

#u163-4
{
	z-index: 30;
	width: 622px;
	margin-right: -10000px;
	margin-top: 200px;
	left: -82px;
}

#u159
{
	z-index: 27;
	width: 1019px;
	height: 2px;
	left: -10px;
	margin-top: 61px;
}

#pu160-22
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 13px;
	position: relative;
}

#u160-22
{
	z-index: 35;
	width: 453px;
	margin-right: -10000px;
}

#u162-22
{
	z-index: 57;
	width: 453px;
	margin-right: -10000px;
	left: 519px;
}

#u147
{
	z-index: 34;
	width: 450px;
	height: 450px;
	background-image: url("../images/trianglebighorizontparting.png");
	margin-left: 272px;
	margin-top: 193px;
}

#u73
{
	z-index: 79;
	width: 1150px;
	height: 25px;
	bottom: 0px;
	left: 50%;
	margin-left: -575px;
}

body
{
	padding-bottom: 156px;
}

#page .verticalspacer
{
	clear: both;
}

